<div class="banner">
    <img class="banner-img" src="./Images/banner-homepage.jpg" />
    <div class="banner-title">
        <p>Who you gonna call?</p>
    </div>
    <div class="banner-text">
        <p>Men of property</p>
    </div>
</div>

<div class="container-fluid">


    <div class="row">
        <div class="col-sm-6">
            <div class="card card-block">
                <h1 class="card-title text-center">Residential</h1>
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                    in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card card-block">
                <h1 class="card-title text-center">Commercial</h1>
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                    in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
    </div>


        <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h3 class="display-3">Give us a call. We'll get it done.</h3>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-3">
            <div class="card text-center card-inverse">
                <img class="card-img img-responsive" src="Images/card-img-renovate.jpg" alt="Card image cap" />
                <div class="card-img-overlay">
                    <h2 class="card-title">Renovate</h2>
                    <p class="card-text">
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                        nulla pariatur.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-center card-inverse">
                <img class="card-img img-responsive" src="Images/card-img-repair.jpg" alt="Card image cap" />
                <div class="card-img-overlay">
                    <h2 class="card-title">Repair</h2>
                    <p class="card-text">
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                        nulla pariatur.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-center card-inverse">
                <img class="card-img img-responsive" src="Images/card-img-maintain.jpg" alt="Card image cap" />
                <div class="card-img-overlay">
                    <h2 class="card-title">Maintain</h2>
                    <p class="card-text">
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                        nulla pariatur.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-center card-inverse">
                <img class="card-img img-responsive" src="Images/card-img-realtor.jpg" alt="Card image cap" />
                <div class="card-img-overlay">
                    <h2 class="card-title">REALTOR</h2>
                    <p class="card-text">
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                        nulla pariatur.
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h3 class="display-3">Give us a call. We'll get it done.</h3>
            </div>
        </div>
    </div>


    <div class="row">

        @Html.Partial("_SubService", new SubServiceViewModel() { Title = "Gutter Cleaning", ImageName = "card-img-gutter-cleaning.jpg" })

        @Html.Partial("_SubService", new SubServiceViewModel() { Title = "Snow Removal", ImageName = "card-img-gutter-cleaning.jpg" })

        @Html.Partial("_SubService", new SubServiceViewModel() { Title = "Deck Repair", ImageName = "card-img-gutter-cleaning.jpg" })

        @Html.Partial("_SubService", new SubServiceViewModel() { Title = "Gutter Cleaning", ImageName = "card-img-gutter-cleaning.jpg" })

        @Html.Partial("_SubService", new SubServiceViewModel() { Title = "Gutter Cleaning", ImageName = "card-img-gutter-cleaning.jpg" })

        @Html.Partial("_SubService", new SubServiceViewModel() { Title = "Gutter Cleaning", ImageName = "card-img-gutter-cleaning.jpg" })

    </div>


    <div class="row">

        @Html.Partial("_SubService", new SubServiceViewModel() { Title = "Gutter Cleaning", ImageName = "card-img-gutter-cleaning.jpg" })

        @Html.Partial("_SubService", new SubServiceViewModel() { Title = "Gutter Cleaning", ImageName = "card-img-gutter-cleaning.jpg" })

        @Html.Partial("_SubService", new SubServiceViewModel() { Title = "Gutter Cleaning", ImageName = "card-img-gutter-cleaning.jpg" })

        @Html.Partial("_SubService", new SubServiceViewModel() { Title = "Gutter Cleaning", ImageName = "card-img-gutter-cleaning.jpg" })

        @Html.Partial("_SubService", new SubServiceViewModel() { Title = "Gutter Cleaning", ImageName = "card-img-gutter-cleaning.jpg" })

        @Html.Partial("_SubService", new SubServiceViewModel() { Title = "Gutter Cleaning", ImageName = "card-img-gutter-cleaning.jpg" })

    </div>


</div>