<div class="banner">
    <img class="banner-img" src="./Images/banner-homepage.jpg" />
    <div class="banner-title">
        <p>Who you gonna call?</p>
    </div>
    <div class="banner-text">
        <p>Men of property</p>
    </div>
</div>

<div class="container-fluid">


    <div class="row">

        @Html.Partial("_ClientType", new ClientTypeViewModel() { Title = "Residential" })

        @Html.Partial("_ClientType", new ClientTypeViewModel() { Title = "Commercial" })

    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h3 class="display-3">When it goes bump in the night.</h3>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-3">
            <div class="card text-center card-inverse">
                <img class="card-img img-responsive" src="Images/card-img-renovate.jpg" alt="Card image cap" />
                <div class="card-img-overlay">
                    <h2 class="card-title">Renovate</h2>
                    <p class="card-text">
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                        nulla pariatur.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-center card-inverse">
                <img class="card-img img-responsive" src="Images/card-img-repair.jpg" alt="Card image cap" />
                <div class="card-img-overlay">
                    <h2 class="card-title">Repair</h2>
                    <p class="card-text">
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                        nulla pariatur.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-center card-inverse">
                <img class="card-img img-responsive" src="Images/card-img-maintain.jpg" alt="Card image cap" />
                <div class="card-img-overlay">
                    <h2 class="card-title">Maintain</h2>
                    <p class="card-text">
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                        nulla pariatur.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-center card-inverse">
                <img class="card-img img-responsive" src="Images/card-img-realtor.jpg" alt="Card image cap" />
                <div class="card-img-overlay">
                    <h2 class="card-title">REALTOR</h2>
                    <p class="card-text">
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                        nulla pariatur.
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h3 class="display-3">Give us a call. We'll get it done.</h3>
            </div>
        </div>
    </div>


    <div class="row">

        @Html.Partial("_SubService", new SubServiceViewModel() { Title = "Gutter Cleaning", ImageName = "card-img-gutter-cleaning.jpg" })

        @Html.Partial("_SubService", new SubServiceViewModel() { Title = "Snow Removal", ImageName = "card-img-gutter-cleaning.jpg" })

        @Html.Partial("_SubService", new SubServiceViewModel() { Title = "Deck Repair", ImageName = "card-img-gutter-cleaning.jpg" })

        @Html.Partial("_SubService", new SubServiceViewModel() { Title = "Gutter Cleaning", ImageName = "card-img-gutter-cleaning.jpg" })

        @Html.Partial("_SubService", new SubServiceViewModel() { Title = "Gutter Cleaning", ImageName = "card-img-gutter-cleaning.jpg" })

        @Html.Partial("_SubService", new SubServiceViewModel() { Title = "Gutter Cleaning", ImageName = "card-img-gutter-cleaning.jpg" })

    </div>


    <div class="row">

        @Html.Partial("_SubService", new SubServiceViewModel() { Title = "Gutter Cleaning", ImageName = "card-img-gutter-cleaning.jpg" })

        @Html.Partial("_SubService", new SubServiceViewModel() { Title = "Gutter Cleaning", ImageName = "card-img-gutter-cleaning.jpg" })

        @Html.Partial("_SubService", new SubServiceViewModel() { Title = "Gutter Cleaning", ImageName = "card-img-gutter-cleaning.jpg" })

        @Html.Partial("_SubService", new SubServiceViewModel() { Title = "Gutter Cleaning", ImageName = "card-img-gutter-cleaning.jpg" })

        @Html.Partial("_SubService", new SubServiceViewModel() { Title = "Gutter Cleaning", ImageName = "card-img-gutter-cleaning.jpg" })

        @Html.Partial("_SubService", new SubServiceViewModel() { Title = "Gutter Cleaning", ImageName = "card-img-gutter-cleaning.jpg" })

    </div>


</div>