<div class="banner">
    <img class="banner-img" src="./Images/banner-homepage.jpg" />
    <div class="banner-title">
        <p>Who you gonna call?</p>
    </div>
    <div class="banner-text">
        <p>Men of property</p>
    </div>
</div>

<div class="container-fluid">

    <div class="row">

        @Html.Partial("_ClientType", new ClientTypeViewModel() { Title = "Residential" })

        @Html.Partial("_ClientType", new ClientTypeViewModel() { Title = "Commercial" })

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h3 class="display-3">When it goes bump in the night.</h3>
            </div>
        </div>
    </div>

    <div class="row">
        
        @Html.Partial("_ServiceCategory", new ServiceCategoryViewModel() { Title= "Renovate", ImageName = "Images/card-img-renovate.jpg" } )
       
        @Html.Partial("_ServiceCategory", new ServiceCategoryViewModel() { Title= "Repair", ImageName = "Images/card-img-repair.jpg" } )
        
        @Html.Partial("_ServiceCategory", new ServiceCategoryViewModel() { Title= "Maintain", ImageName = "Images/card-img-maintain.jpg" } )
                     
        @Html.Partial("_ServiceCategory", new ServiceCategoryViewModel() { Title= "REALTOR", ImageName = "Images/card-img-realtor.jpg" } )
      
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h3 class="display-3">Give us a call. We'll get it done.</h3>
            </div>
        </div>
    </div>

    <div class="row">

        @Html.Partial("_SubService", new SubServiceViewModel() { Title = "Gutter Cleaning", ImageName = "card-img-gutter-cleaning.jpg" })

        @Html.Partial("_SubService", new SubServiceViewModel() { Title = "Snow Removal", ImageName = "card-img-gutter-cleaning.jpg" })

        @Html.Partial("_SubService", new SubServiceViewModel() { Title = "Deck Repair", ImageName = "card-img-gutter-cleaning.jpg" })

        @Html.Partial("_SubService", new SubServiceViewModel() { Title = "Gutter Cleaning", ImageName = "card-img-gutter-cleaning.jpg" })

        @Html.Partial("_SubService", new SubServiceViewModel() { Title = "Gutter Cleaning", ImageName = "card-img-gutter-cleaning.jpg" })

        @Html.Partial("_SubService", new SubServiceViewModel() { Title = "Gutter Cleaning", ImageName = "card-img-gutter-cleaning.jpg" })

    </div>

    <div class="row">

        @Html.Partial("_SubService", new SubServiceViewModel() { Title = "Gutter Cleaning", ImageName = "card-img-gutter-cleaning.jpg" })

        @Html.Partial("_SubService", new SubServiceViewModel() { Title = "Gutter Cleaning", ImageName = "card-img-gutter-cleaning.jpg" })

        @Html.Partial("_SubService", new SubServiceViewModel() { Title = "Gutter Cleaning", ImageName = "card-img-gutter-cleaning.jpg" })

        @Html.Partial("_SubService", new SubServiceViewModel() { Title = "Gutter Cleaning", ImageName = "card-img-gutter-cleaning.jpg" })

        @Html.Partial("_SubService", new SubServiceViewModel() { Title = "Gutter Cleaning", ImageName = "card-img-gutter-cleaning.jpg" })

        @Html.Partial("_SubService", new SubServiceViewModel() { Title = "Gutter Cleaning", ImageName = "card-img-gutter-cleaning.jpg" })

    </div>

</div>